<!-- footer content -->
<footer>
    <div class="pull-right">
        Quản Lý Admin - <strong> @DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")</strong> <a href="javascript:;">Phước Con</a>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->